* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsapp-pc {
    visibility: hidden;
    position: fixed;
    color: #4DC247;
    font-size: 40px;
    right: 25px;
    bottom: 60px;
    z-index: 4;
}

.whatsapp-mobil {
    visibility: visible;
    position: fixed;
    color: #4DC247;
    font-size: 40px;
    right: 25px;
    bottom: 60px;
}

.contenedor-header {
    width: 100vw;
    height: 40px;
    background-color: #539893;
}

.texto-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    padding-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
}

.contenedor-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
    height: 80px;
    border-bottom: 1px solid lightgray;
}

.logo_servitek {
    margin-left: 5px;
    width: 95px;
    flex-shrink: 0;
}

.redes-sociales {
    display: none;
}

/* Menu Hamburguesa */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    transition: transform 0.5s ease;
}

.hamburger.active {
    transform: rotate(45deg);
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: #47716F;
    transition: all 0.5s ease;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#menu {
    position: fixed;
    top: 120px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #539893;
    transition: left 0.5s ease;
    z-index: 100;
}

#menu ul {
    list-style-type: none;
    padding-top: 5px;
    text-align: left;
}

#menu ul li {
    margin: 20px 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: color 0.3s;
}

#menu ul li a:hover {
    color: lightgray;
}

/* Fin Menu Hamburguesa */
/* Menu PC */
#menu-pc {
    display: none;
}
/* Fin Menu PC */

.card-img {
    background-color: rgba(76, 76, 77, 0.5);
    width: 210px;
    height: 100px;
    position: absolute; /* Cambiar a absolute */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta posición */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 5; /* Asegura que el texto esté por encima de las imágenes */
}

h3 {
    color: #47716F;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    font-size: 22px;
    font-weight: bold;
}

.h3-proyectos {
    font-size: 20px;
}

.p-index {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

.p-index-proyectos {
    font-size: 10px;
}

.carousel {
    height: 100vh; /* Altura del carrusel al 100% de la ventana */
    /*margin-top: 80px;*/ /* Ajusta este margen para evitar el solapamiento con el menú */
    margin-top: -80px; 
}

.carousel-item {
    height: 100vh; /* Asegura que cada item del carrusel tenga 100% de altura */
}

.carousel-item img {
    object-fit: contain; /* La imagen cubre el área */
    width: 100%; /* Ocupa el ancho del contenedor */
    height: 100%; /* Ocupa la altura del contenedor */
}

/* Media Queries */
@media (min-width: 1000px) {
    .whatsapp-pc {
        font-size: 60px;
        visibility: visible;
    }

    .whatsapp-mobil {
        visibility: hidden;
    }

    .contenedor-header {
        height: 30px;
    }

    .texto-header {
        font-size: 14px;
        padding-top: 5px;
    }

    /* Menu Hamburguesa */
    .hamburger .line {
        display: none;
    }

    #menu {
        display: none;
    }
    /* Fin Menu Hamburguesa */

    .logo_servitek {
        margin-left: 15px;
        width: 150px;
    }

    .redes-sociales {
        display: flex;
        position: relative;
        right: -390px;

        letter-spacing: 10px;
        color: #47716F;
        font-size: 18px;
    }

    /* Menu PC */
    #menu-pc {
        display: block;
    }
    
    .menu-pc-display {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        position: fixed;
        padding-top: 25px;
        margin-top: 80px;
        background-color: rgba(76, 76, 77, 0.5);
        z-index: 100;
    }

    #menu-pc nav {
        list-style-type: none;
    }

    #menu-pc nav a {
        text-decoration: none;
        color: white;
        text-shadow: 2px 4px rgba(0, 0, 0, 0.7);
        font-size: 22x;
        padding: 18px;
        transition: color 0.3s;
        border-left: 2px solid #47716F;
    }

    #menu-pc nav a:hover {
        color: #539893;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    /* Flexbox para alinear las tarjetas en fila (horizontal) */
    #menu-pc nav {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap; /* Permite que las tarjetas se muevan a una nueva línea si no caben */
        padding: 20px 0;
    }
    .card-img {
        background-color: rgba(76, 76, 77, 0.5);
        width: 350px;
        height: 200px;
        position: absolute; /* Cambiar a absolute */
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translate(-50%, -50%); /* Ajusta posición */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 5; /* Asegura que el texto esté por encima de las imágenes */
    }
    
    h3 {
        color: #47716F;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
        font-size: 36px;
        font-weight: bold;
    }

    .h3-proyectos {
        color: #47716F;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
        font-size: 36px;
        font-weight: bold;
    }


    .p-index {
        color: white;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        font-size: 18px;
    }
    .p-index-proyectos {
        color: white;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        font-size: 18px;
    }

    .carousel {
        height: 100vh; /* Altura del carrusel al 100% de la ventana */
        margin-top: 80px; /* Ajusta este margen para evitar el solapamiento con el menú */
       
    }
    
    .carousel-item {
        height: 100vh; /* Asegura que cada item del carrusel tenga 100% de altura */
    }
    
    .carousel-item img {
        object-fit: cover; /* La imagen cubre el área */
        width: 100%; /* Ocupa el ancho del contenedor */
        height: 100%; /* Ocupa la altura del contenedor */
    }
    
}
@media (min-width: 768px) and (max-width: 999px) {
    .card-img {
        background-color: rgba(76, 76, 77, 0.5);
        width: 350px;
        height: 150px;
        position: absolute; /* Cambiar a absolute */
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translate(-50%, -50%); /* Ajusta posición */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 5; /* Asegura que el texto esté por encima de las imágenes */
    }
    
    h3 {
        color: #47716F;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
        font-size: 36px;
        font-weight: bold;
    }

    .p-index {
        color: white;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        font-size: 16px;
    }

    .carousel {
        height: 100vh; /* Altura del carrusel al 100% de la ventana */
        margin-top: 80px;/* Ajusta este margen para evitar el solapamiento con el menú */
           }
    
    carousel-item {
        height: 100vh; /* Asegura que cada item del carrusel tenga 100% de altura */
    }
    
    .carousel-item img {
        object-fit: cover; /* La imagen cubre el área */
        width: 100%; /* Ocupa el ancho del contenedor */
        height: 100%; /* Ocupa la altura del contenedor */
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .whatsapp-pc {
        font-size: 50px;
        visibility: hidden;
    }

    .whatsapp-mobil {
        visibility: visible;
    }

    .contenedor-header {
        height: 30px;
    }

    .texto-header {
        font-size: 12px;
    }

    #menu {
        width: 100%;
        height: 100%;
        background-color: #539893;
        margin-top: -9px;
        transition: left 0.5s ease;
    }

    .card-img {
        background-color: rgba(76, 76, 77, 0.5);
        width: 350px;
        height: 150px;
        position: absolute; /* Cambiar a absolute */
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translate(-50%, -50%); /* Ajusta posición */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 5; /* Asegura que el texto esté por encima de las imágenes */
    }
    
    h3 {
        color: #47716F;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
        font-size: 36px;
        font-weight: bold;
    }

    .p-index {
        color: white;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
        font-size: 16px;
    }

    .carousel {
        height: 100vh; /* Altura del carrusel al 100% de la ventana */
        margin-top: 80px;/* Ajusta este margen para evitar el solapamiento con el menú */
        /*margin-top: -68px;*/ 
    }
    
    .carousel-item {
        height: 100vh; /* Asegura que cada item del carrusel tenga 100% de altura */
    }
    
    .carousel-item img {
        object-fit: cover; /* La imagen cubre el área */
        width: 100%; /* Ocupa el ancho del contenedor */
        height: 100%; /* Ocupa la altura del contenedor */
    }
    
}