* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsapp-pc {
    visibility: hidden;
    position: fixed;
    color: #4DC247;
    font-size: 40px;
    right: 25px;
    bottom: 60px;
    z-index: 100;
    background-color: white;
}

.whatsapp-mobil {
    visibility: visible;
    position: fixed;
    color: #4DC247;
    font-size: 40px;
    right: 25px;
    bottom: 60px;
    z-index: 100;
    background-color: white;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.contenedor-header {
    width: 100%;
    height: 7vh;
    background-color: #539893;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.2vw;
}

.texto-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 2vw, 14px);
    margin-top: 2vh;
    margin: 0 5vw;
    /*text-align: center;
    align-items: center;*/
    font-weight: 500;
    /*padding-top: 8px;
    padding-right: 15px;
    padding-left: 15px;*/
}

.contenedor-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 20px;*/
    width: 100%;
    height: 12vh;
    background-color: white;
    padding: 0 6vw;
    /*border-bottom: 1px solid lightgray;*/
}

.logo_servitek {
    width: clamp(110px, 5%, 130px);
    height: auto;
}

.redes-sociales {
    display: none;
}

/* Menu Hamburguesa */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28px;
    height: 18px;
    transition: transform 0.5s ease;
}

.hamburger.active {
    transform: rotate(45deg);
}

.hamburger .line {
    width: 100%;
    height: 2px;
    background-color: #47716F;
    transition: all 0.5s ease;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 3px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#menu {
    position: fixed;
    top: 19vh;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #539893;
    transition: left 0.5s ease;
    z-index: 100;
}

#menu ul {
    list-style-type: none;
    padding-top: 5px;
    text-align: left;
}

#menu ul li {
    margin: 20px 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: color 0.3s;
}

#menu ul li a:hover {
    color: lightgray;
}

/* Fin Menu Hamburguesa */

/* Menu PC */
#menu-pc {
    display: none;
}
/* Fin Menu PC */
/* Carrusel*/
.carousel {
    width: 100%;
    height: auto;
    margin-top: 19vh; 
}

/*.carousel-item {
    height: 100vh; 
}*/

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: auto;
}
.card-img {
    background-color: rgba(76, 76, 77, 0.5);
    margin: 0;
    width: 58vw;
    height: 15vh;
    max-height: 250px;
    max-width: 360px;
    position: absolute; /* Cambiar a absolute */
    top: 28%; /* Centra verticalmente */
    left: 5%; /* Centra horizontalmente */
    transform: translateY(-60%); /* Ajusta posición */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 5;
}

h3 {
    color: #47716F;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
    font-size: clamp(16px, 2vw ,22px);
    font-weight: bold;
    margin: 0 5vw;
}

.p-index {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    font-size: clamp(12px, 2vw, 16px);
    margin: 0 5vw;
}

.hr-section {
    border: none; /* Elimina el borde predeterminado */
    height: 1px; /* Define el grosor de la línea */
    background-color:#47716F; /* Color de la línea */
    /*margin: 1vh; /* Espacio superior e inferior */
    width: 50%; /* Ajusta el ancho de la línea */
    opacity: 0.7; /* Transparencia */
}
/* Fin Carrusel */
/*.hr-section-2 {
    border: none;
    height: 1px;
    background-color:#47716F;
    margin: 20px auto;
    width: 50%;
    opacity: 0.7;
}*/
#nosotros {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin: 130px;
}
h2 {
    font-size: 22px;
    color: #47716F;
}
p {
    font-size: 13px;
    text-align: center;

}
span {
    color: #47716F;
    font-weight: bold;
}